body {
    margin: 0px;
  }
  
  .container {
    
    background-color: white;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
  }
  
  .content {
    
  
    align-items: center;
    
  }

  
  .image {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .image img {
    width: 100%;
  }
  
  
  @media only screen and (min-width: 700px) {
    .container {
      background-color: white;
    }

    .image img {
      width: 60%;
    }

  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }