.image-content {
    height: 60%;
    width: 23%;
    border: solid black 1px;
    padding: 2em;
  }
  
  .image {
    width: 100%;
  }
  
  .image img {
    width: 100%;
  }
  
  
  @media only screen and (max-width: 600px) {
    .container {
      background-color: lightgreen;
    }
  }
  